body {
  box-sizing: border-box;
  font-family: Arial;

  
}

.people {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  padding: 30px 35px 0;


  &__person {
    
    display: block;
    justify-items: center;
    width: 200px;
    height: 231px;
    
    &-photo {
      position: relative;
      justify-content: center;
      
      width: 200px;
      height: 200px;

      padding-bottom: 8px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__photo-rank {
      position: absolute;
      top: 114px;
      left: 193px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 32px;
      height: 32px;

      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      text-align: center;


      background-color: white;
      color: #8B0000;
      border-radius: 50%;
    }

    &__details-name {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      text-align: center;
      color: #2F4F4F;


    }
}

@media (min-width: 751px) {
  .people {

    grid-template-columns: repeat(4, 200px);
    
  }
}
